 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-rstudio-plain"></i>
      <i class="devicon-azuresqldatabase-plain"></i>
      <i class="devicon-bash-plain"></i>
      <p>Python, R, SQL, Bash</p>
    </div>
    <div class="tech">
      <h2>Cloud Computing</h2>
      <i class="devicon-amazonwebservices-plain-wordmark"></i>
      <i class="devicon-azure-plain"></i>
      <p>AWS, Azure, Snowflake, DataBricks</p>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <i class="devicon-github-original-wordmark"></i>
      <i class="devicon-docker-plain-wordmark"></i>
      <p>Docker, GitHub, HuggingFace</p>
    </div>
</div>
