 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <img height="64" width="auto" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" height=/>
      <img height="64" width="auto" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rstudio/rstudio-original.svg" />
      <img height="64" width="auto" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" />
      <img height="64" width="auto" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bash/bash-original.svg" />
      <p>Python, R, SQL, Bash</p>
    </div>
    <div class="tech">
      <h2>Cloud Computing</h2>
      <img height="64" width="auto" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />
      <!-- img height="64" width="auto" src="/icons/snowflake" -->
      <img height="64" width="auto" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azure/azure-original.svg" />
      <!-- img height="64" width="auto" src="/icons/databricks" -->
      <p>AWS, Azure, Snowflake, DataBricks</p>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <img height="64" width="auto" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" />
      <img height="64" width="auto" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg" />
      <!-- img height="64" width="auto" src="/icons/huggingface" -->
      <p>Docker, GitHub, HuggingFace</p>
    </div>
</div>
/icons/amazonwebservices.svg
